<header class="header">
  <div class="header-container">
    <img src="img/MetraCord_logo_cordoba.png" alt="Logo Metracord" class="logo">
    <nav class="nav">
  <a routerLink="/inicio" 
     routerLinkActive="active-link" 
     [routerLinkActiveOptions]="{exact: true}" 
     class="nav-link">Inicio</a>

  <a routerLink="/nosotros" 
     routerLinkActive="active-link" 
     class="nav-link">Nosotros</a>

  <a routerLink="/contacto" 
     routerLinkActive="active-link" 
     class="nav-link">Contacto</a>
</nav>
  </div>
</header>